*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: ProximaNova,sans-serif;
    background-color: #000000;
}
nav{
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 7.1875rem;
    line-height: 7.1875rem;
    background-color: hsla(0,0%,100%,0.98);
    margin-top: 0;
}
.sub-content-right{
    margin-top: 5rem;
    float: right;
}
.sub-content-left{
    margin-top: 5rem;
    float: left;
}
.sub-content:after{
    clear: both;
}
.border-bottom1 > ul >li{
    line-height: 4.1875rem;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}
.sub-content-left > ul > li {
    list-style-type: none;
}
.sub-content-left > ul > li:hover {
    background-color: #006eb5;
    color: white;
}
.dp-menue > li > a{
    font-size: .870rem;
}
.dp-menue > .sub-menue > div{
    width:1600px;
}
.dp-menue > li:hover .sub-menue{
    display: block;
    background-color: hsla(0,0%,100%,0.98);
    height: 39rem;
}
.sub-menue{
    display: none;
    position: absolute;
    left: calc(5%);
    right: calc(5%);
    top: 99.5%;
}
@media screen and (min-width: 1100px) {
    
}
nav .wrapper{
    position: relative;
    max-width: 1250px;
    padding:  0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .dp-menue{
    display: inline-flex;
}
.dp-menue{
    list-style-type: none;
}
.dp-menue > li{
    padding: 0 30px;
}
.dp-menue > li > a{
    text-decoration: none;
    color: #000000;
}
.side-menu{
    
    display: none;
    
    line-height: 2.1875rem;;
    position: absolute;
    left: 28.5%;
    top: 12.8%;
    right: 0%;
    color: #000000;
    max-width: 100%;
    background-color: hsla(0,0%,100%,0.98);
    height: 90%;
}
.side-menu-content{
    float: left;
    width: 42%;
}
.side-menu-content-wide{
    float: left;
    max-width: 75%;
}
.side-menu-image{
    float :right;
    width: 57.3%;
}
.side-menu-image > img{
    width: 90%;
}
.side-header:hover  .side-menu{
    display: block;
    text-align: left;
}
